<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Specialties</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name of specialty</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a ui-sref="spec"> Pharmacis </a></td>
                        </tr>
                        <tr>
                            <td><a href=""> Allergist </a></td>
                        </tr>
                        <tr>
                            <td><a href=""> Cardiologist </a></td>
                        </tr>
                        <tr>
                            <td><a href=""> Gynecologist </a></td>
                        </tr>
                        <tr>
                            <td><a href=""> Otolaryngologist </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>