<div class="container" ng-controller="contentCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Specialties</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name of specialty</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in someData">
                            <td><a ui-sref="SomeSpec({valueSpec:'{{item.name}}'})">{{item.name}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>