<div class="container" ng-controller="EmpSpecCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Employees</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>SecondName</th>
                            <th>Working Time</th>
                        </tr>
                        </thead>
                        <tbody lazy-scroll="loadMore()">
                        <tr ng-repeat="item in someData" ng-click="showInfo(item)">
                            <td>{{item.firstName}}</td>
                            <td>{{item.secondName}}</td>
                            <td>{{item.workingTime}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
